.skills-container {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    align-items: center;
    height: 80vh;
    margin-top: 12rem;
}

.skills-divider {
    width: 70%;
    height: 2px;
    background: linear-gradient(to right, transparent, var(--color-secondary), transparent);
    z-index: 100;
}

.skills-title_container {
    z-index: 100;
}

.skills-title_items {
    display: flex;
    align-items: center;
    z-index: 100;
}

.skills-title {
    color: var(--color-text);
    font-size: 2rem;
    z-index: 100;
}

.line {
    width: 6rem;
    height: 2px;
    background: linear-gradient(to right, transparent, var(--color-secondary), transparent);
    z-index: 100;
}

.marquee-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 2rem;
    z-index: 100;
}

.marquee {
    display: flex;
    animation: marquee 30s linear infinite;
}

.marquee-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2rem;
    transition: transform 0.3s;
}

.skill-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, rgba(218, 165, 32, 0.1), rgba(218, 165, 32, 0.3));
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 1.5rem;
    transition: box-shadow 0.3s;
    box-shadow: 0 -4px 10px rgba(255, 255, 255, 0.5);
    width: 10rem;
}

.skill-card:hover {
    box-shadow: 0 -8px 20px rgba(255, 255, 255, 0.7);
}

.skill-logo {
    width: 5rem;
    height: 5rem;
}

.skill-name {
    margin-top: 0.5rem;
    color: var(--color-text);
    font-size: 1.3rem;
}

.marquee-container:hover .marquee {
    animation-play-state: paused;
}

@keyframes marquee {
    0% {
        transform: translateX(3%);
    }

    100% {
        transform: translateX(-238%);
    }
}

@media (max-width: 480px) {
    .skills-container {
        margin-top: 23rem;
        gap: 4rem;
    }
}
