.banner-container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.banner-text {
    flex: 1;
    padding: 5rem;
    color: white;
    max-width: 50%;
    height: 36rem;
}

.banner-text h1 {
    font-size: 4.5rem;
}

.banner-text p {
    font-size: 6rem;
}

.banner-text p span {
    color: var(--color-secondary);
}

.banner-image {
    flex: 1;
    padding: 20px;
    width: 50%;
}

.banner-image img {
    position: absolute;
    top: 0;
    right: 5rem;
    height: 38rem;
    width: 36rem;
}
