.banner-container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.banner-text {
    flex: 1;
    padding: 5rem;
    color: white;
    max-width: 50%;
    height: 36rem;
}

.banner-text h1 {
    font-size: 4.5rem;
}

.banner-text p {
    font-size: 6rem;
}

.banner-text p span {
    color: var(--color-secondary);
}

.banner-image {
    flex: 1;
    padding: 20px;
    width: 50%;
}

.banner-image img {
    position: absolute;
    top: 0;
    right: 5rem;
    height: 38rem;
    width: 36rem;
}

@media (max-width: 480px) {
    .banner-container {
        flex-direction: column;
        width: 90%;
        padding: 1rem 0.5rem;
    }

    .banner-text {
        max-width: 100%;
        padding: 0;
        max-width: 100%;
    }

    .banner-text h1 {
        font-size: 2rem;
    }

    .banner-text p {
        font-size: 2rem;
        padding: 0;
    }

    .banner-image img {
        width: 18rem;
        height: 18rem;
        top: 14rem;
        left: 3rem;
    }
}
